@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.985 0.002 247.839);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(0.967 0.003 264.542);
  --card-foreground: oklch(0.21 0.034 264.665);
  --popover: oklch(0.967 0.003 264.542);
  --popover-foreground: oklch(0.21 0.034 264.665);
  --primary: oklch(0.216 0.006 56.043);
  --primary-foreground: oklch(0.905 0.182 98.111);
  --secondary: oklch(0.282 0.091 267.935);
  --secondary-foreground: oklch(0.828 0.111 230.318);
  --muted: oklch(0.872 0.01 258.338);
  --muted-foreground: oklch(0.278 0.033 256.848);
  --accent: oklch(0.905 0.182 98.111);
  --accent-foreground: oklch(0.282 0.091 267.935);
  --destructive: oklch(0.5771 0.2152 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.872 0.01 258.338);
  --ring: oklch(0.2878 0.1994 264.052);
  --chart-1: oklch(0.905 0.182 98.111);
  --chart-2: oklch(0.865 0.127 207.078);
  --chart-3: oklch(0.457 0.24 277.023);
  --chart-4: oklch(0.606 0.25 292.717);
  --chart-5: oklch(0.591 0.293 322.896);
  --sidebar: oklch(0.9851 0 0);
  --sidebar-foreground: oklch(0.3703 0.0119 285.8054);
  --sidebar-primary: oklch(0.2878 0.1994 264.052);
  --sidebar-primary-foreground: oklch(0.8562 0.0489 219.6543);
  --sidebar-accent: oklch(0.9243 0.1151 95.7459);
  --sidebar-accent-foreground: oklch(0.2878 0.1994 264.052);
  --sidebar-border: oklch(0.9197 0.004 286.3202);
  --sidebar-ring: oklch(0.2878 0.1994 264.052);
  --font-sans: Geist, sans-serif;
  --font-serif: Geist, sans-serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.325rem;
  --shadow-x: 0;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0.13 0.028 261.692);
  --shadow-2xs: 0 0.25rem 0.75rem 0 hsl(224.0547 72.239% 4.173% / 0.05);
  --shadow-xs: 0 0.25rem 0.75rem 0 hsl(224.0547 72.239% 4.173% / 0.05);
  --shadow-sm: 0 0.25rem 0.75rem 0 hsl(224.0547 72.239% 4.173% / 0.1),
    0 1px 2px -1px hsl(224.0547 72.239% 4.173% / 0.1);
  --shadow: 0 0.25rem 0.75rem 0 hsl(224.0547 72.239% 4.173% / 0.1),
    0 1px 2px -1px hsl(224.0547 72.239% 4.173% / 0.1);
  --shadow-md: 0 0.25rem 0.75rem 0 hsl(224.0547 72.239% 4.173% / 0.1),
    0 2px 4px -1px hsl(224.0547 72.239% 4.173% / 0.1);
  --shadow-lg: 0 0.25rem 0.75rem 0 hsl(224.0547 72.239% 4.173% / 0.1),
    0 4px 6px -1px hsl(224.0547 72.239% 4.173% / 0.1);
  --shadow-xl: 0 0.25rem 0.75rem 0 hsl(224.0547 72.239% 4.173% / 0.1),
    0 8px 10px -1px hsl(224.0547 72.239% 4.173% / 0.1);
  --shadow-2xl: 0 0.25rem 0.75rem 0 hsl(224.0547 72.239% 4.173% / 0.25);
  --tracking-normal: -0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.967 0.003 264.542);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.967 0.003 264.542);
  --primary: oklch(0.905 0.182 98.111);
  --primary-foreground: oklch(0.282 0.091 267.935);
  --secondary: oklch(0.282 0.091 267.935);
  --secondary-foreground: oklch(0.828 0.111 230.318);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.872 0.01 258.338);
  --accent: oklch(0.216 0.006 56.043);
  --accent-foreground: oklch(0.905 0.182 98.111);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.278 0.033 256.848);
  --input: oklch(0.446 0.03 256.802);
  --ring: oklch(0.258 0.092 26.042);
  --chart-1: oklch(0.905 0.182 98.111);
  --chart-2: oklch(0.865 0.127 207.078);
  --chart-3: oklch(0.457 0.24 277.023);
  --chart-4: oklch(0.606 0.25 292.717);
  --chart-5: oklch(0.591 0.293 322.896);
  --sidebar: oklch(0.13 0.028 261.692);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.257 0.09 281.288);
  --sidebar-primary-foreground: oklch(0.809 0.105 251.813);
  --sidebar-accent: oklch(0.905 0.182 98.111);
  --sidebar-accent-foreground: oklch(0.257 0.09 281.288);
  --sidebar-border: oklch(0.278 0.033 256.848);
  --sidebar-ring: oklch(0.2878 0.1994 264.052);
  --font-sans: Geist, sans-serif;
  --font-serif: Geist, sans-serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.325rem;
  --shadow-x: 0;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0.13 0.028 261.692);
  --shadow-2xs: 0 0.25rem 0.75rem 0 hsl(224.0547 72.239% 4.173% / 0.05);
  --shadow-xs: 0 0.25rem 0.75rem 0 hsl(224.0547 72.239% 4.173% / 0.05);
  --shadow-sm: 0 0.25rem 0.75rem 0 hsl(224.0547 72.239% 4.173% / 0.1),
    0 1px 2px -1px hsl(224.0547 72.239% 4.173% / 0.1);
  --shadow: 0 0.25rem 0.75rem 0 hsl(224.0547 72.239% 4.173% / 0.1),
    0 1px 2px -1px hsl(224.0547 72.239% 4.173% / 0.1);
  --shadow-md: 0 0.25rem 0.75rem 0 hsl(224.0547 72.239% 4.173% / 0.1),
    0 2px 4px -1px hsl(224.0547 72.239% 4.173% / 0.1);
  --shadow-lg: 0 0.25rem 0.75rem 0 hsl(224.0547 72.239% 4.173% / 0.1),
    0 4px 6px -1px hsl(224.0547 72.239% 4.173% / 0.1);
  --shadow-xl: 0 0.25rem 0.75rem 0 hsl(224.0547 72.239% 4.173% / 0.1),
    0 8px 10px -1px hsl(224.0547 72.239% 4.173% / 0.1);
  --shadow-2xl: 0 0.25rem 0.75rem 0 hsl(224.0547 72.239% 4.173% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
